@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Scrollbar style */
::-webkit-scrollbar {
    width: 13px; 
    background: #d4d7da;
}
::-webkit-scrollbar-thumb {
    background: #8a8d91; 
    border-radius: 2.5px;
}
::-webkit-scrollbar-corner {
    background-color: #606367; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #777a7c;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 240px;
    background: linear-gradient(#ffc977, #d8e0e5);
    background-color: #DFE1E4; /* Fallback if linear-gradient is incompatible */
    line-height: 0;
    font-family: "Niramit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90%;
    color: #505357;
    border: 3.5px dashed #747c81;
    border-bottom: none;
}

#navigation-menu, 
#toggled-navigation-menu {
    display: flex; /* Hide by default to follow a 'mobile-first' design */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    font-size: 110%;
    list-style-type: none;
    margin-top: 20px;
}

/* Hide all list items that do not contain the "contact-item" class */
#navigation-menu li:not(:has(> .contact-item)) {
    display: none;
}

#navigation-menu a,
#toggled-navigation-menu a {
    color: inherit;
    background-color: #e6edf1;
    border-radius: 2px;
    padding: 0.1em 0.4em;
    margin: 0.5em 0.4em;
}

#navigation-menu a:hover,
#toggled-navigation-menu a:hover {
    box-shadow: 0 0 3px 2px #66696b;
}

/* Specific to the navigation pop-up */
#toggled-navigation-menu {
    flex-direction: column;
}
#toggled-navigation-menu a {
    display: flex;
    justify-content: center;
    border: 1px solid #9aa2ab;
    min-width: 50vw;
}

#logo {
    padding: 2em
}

#logo a {
    display: inline-block;
    line-height: 0;
}

#logo img {
    width: auto; /* Prevent image stretching */
    max-width: 100%;
    max-height: 90px; /* Keep the logo insied the header */
}
#logo img:hover {
    transform: scale(1.1);
}

#seamless-wave {
    display: flex;
    justify-content: center;
    position: relative;
    top: -73px;
    overflow: hidden;
}

.wrap-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Toggle navigation */
.toggled-navigation {
    z-index: 1;
    display:none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center; 
    justify-content: center;
    width: 80vw;
    height: 80vh;
    background-color: #ffffff;
    flex-direction: row; 
}
/* Style for the toggle button */
.toggle-navigation-component .fa-bars {
    z-index: 1;
    position: fixed;
    font-size: 40px;
    margin: 20px;
    cursor: pointer;
}

.toggle-navigation-checkbox {/* Hide the checkbox entirely */
    display: none;
}
/* Show navigation when checkbox is checked */
.toggle-navigation-checkbox:checked + label + .toggled-navigation {
    display: flex;
}


.toggle-navigation-component #navigation-menu {
    flex-direction: column;
}

.x-button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    margin: 4vw 4vh;
    cursor: pointer;
}
.fa-x {
    cursor: pointer;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Niramit", sans-serif;
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    color: #1c1d1e;
}

/* general styles */
a {
    text-decoration: none;
}

p em {
    font-style: normal;
    font-weight: 700;
}

/* Form inputs */
input[type="text"],
input[type="email"] {
    padding: 0.8em 0.7em;
    border: 2px solid #8b9094;
    border-radius: 5px;
    width: 95%;
}

input[type="radio"] {
    margin: 10px 20px;
}

legend {
    padding-bottom: 20px;
}

fieldset {
    margin-bottom: 25px;
    width: 100%;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio-option {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    margin-bottom: 10px; /* Adds some space between the rows */
    width: 100%;
    align-items: flex-start;
}

/* Main */
main {
    padding-top: 55px; /* Account for the wave img attached to the header  */
    flex: 1 0 auto; /* Push footer to the bottom */
    min-height: 100vh;
    background-color: #e3e9ed;
    padding-bottom: 180px;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#table {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9ca2a7;
    margin-top: 80px;
    padding: 0em 2em;
}

#table i {
    font-size: 150%;
    color: #66b9e8;
}

#table-wrapper a {
    margin-top: 15px;
}

/* Targets the first td in table */
td:first-child {
    font-family: "Luckiest Guy", cursive;
}

td, th {
    padding: 0.7em 1em
}

tr {
    background-color: #d5dee4;
}


#text-component {
    width: 92%;
}

#text-component h1 {
    padding-bottom: 7px;
    font-weight: 300;
    font-size: 120%;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #4b4e51;
    text-align: center;
}

#text-component i {
    margin: 0 8px
}

.source-link {
    color: #4ea7ff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80%;
}

#text-component a:hover {
    text-decoration: underline;
}

#signup {
    text-align: left;
}

#signup #text-component {
    padding: 1em 1em;
    text-align: center;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.submit-button {
    margin-top: 20px;
    border-radius: 3px;
    padding: 15px 32px;
    font-size: 100%;
    border: none;
    font-weight: 600;
    background-color: #515658;
    color: #fafafa;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #5a5f61;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #ffffff;
    padding: 80px 0;
}

footer h1 {
    font-weight: 400;
}

#social-icons h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#social-icons a {
    padding: 0 6px;
}

/* Media query: large phones and larger */ 
@media screen and (min-width: 576px) {
    /* Only toggle navigation on small screen sizes */
    .toggle-navigation-component {
        display: none;
    }

    /* Hide all list items that do not contain the "contact-item" class */
    #navigation-menu li:not(:has(> .contact-item)) {
        display: block;
    }

    #text-component {
        width: 90%;
    }
    input[type="text"],
    input[type="email"] {   
        width: 60%
    }
    /* Make the fieldset stand out a bit relative to the text/email inputs */
    fieldset {
        width: 90%;
    }
}
/* Media query: tablets and larger */
@media screen and (min-width: 768px) {
    header {
        padding-left: 13%;
        align-items: center;
        height: 210px;
    }
    .wrap-header {
        flex-direction: row;
    }
    #text-component {
        width: 70%;
    }
}
