@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Grandstander", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1d1e;
}

main h1 {
    font-weight: 300;
    font-size: 120%;
}

main {
    margin-top: 55px; /* Account for the wave img attached to the header  */
    flex: 1 0 auto; /* Push footer to the bottom */
}

main section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 200px;
    padding: 1em 1em;
   /*  border: 2px solid #00000053; */
    margin-bottom: 20px
}

footer {
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: #00000053;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background: linear-gradient(#cdcfd2, #DFE1E4);
    background-color: #DFE1E4; /* Fallback if linear-gradient is incompatible */
    line-height: 0;
    font-family: "Niramit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90%;
    color: #505357;
}

.wrap-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 110%;
    list-style-type: none;
    margin-top: 20px;
}

#navigation-menu a {
    text-decoration: none;
    color: inherit;
    background-color: #d6e0e6;
    border-radius: 2px;
    border: 1px solid #a8b3b9;
    padding: 0.3em;
    margin: 0.5em 0.15em
}

#logo a {
    display: inline-block;
    line-height: 0;
}

#logo img {
    width: auto; /* Prevent image stretching */
    max-width: 100%;
    max-height: 90px; /* Keep the logo insied the header */
}


#seamless-wave {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 195px;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

}
